<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.duniqb.mobile.mapper.CourseMapper">
  <resultMap id="BaseResultMap" type="cn.duniqb.mobile.entity.Course">
    <!--@mbg.generated generated on Wed Nov 20 16:00:57 CST 2019.-->
    <!--@Table course-->
    <id column="course_id" jdbcType="CHAR" property="courseId" />
    <result column="course_serial_no" jdbcType="CHAR" property="courseSerialNo" />
    <result column="course_name" jdbcType="VARCHAR" property="courseName" />
    <result column="credit" jdbcType="FLOAT" property="credit" />
    <result column="course_group" jdbcType="CHAR" property="courseGroup" />
    <result column="course_type" jdbcType="CHAR" property="courseType" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Wed Nov 20 16:00:57 CST 2019.-->
    course_id, course_serial_no, course_name, credit, course_group, course_type
  </sql>
</mapper>