<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.duniqb.mobile.mapper.GradeExamMapper">
  <resultMap id="BaseResultMap" type="cn.duniqb.mobile.domain.GradeExam">
    <!--@mbg.generated generated on Sun Dec 01 12:45:03 CST 2019.-->
    <!--@Table grade_exam-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="stu_no" jdbcType="CHAR" property="stuNo" />
    <result column="exam_name" jdbcType="VARCHAR" property="examName" />
    <result column="exam_date" jdbcType="VARCHAR" property="examDate" />
    <result column="exam_time" jdbcType="VARCHAR" property="examTime" />
    <result column="ticket_number" jdbcType="VARCHAR" property="ticketNumber" />
    <result column="score" jdbcType="VARCHAR" property="score" />
    <result column="approved" jdbcType="VARCHAR" property="approved" />
    <result column="grade" jdbcType="INTEGER" property="grade" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Sun Dec 01 12:45:03 CST 2019.-->
    id, stu_no, exam_name, exam_date, exam_time, ticket_number, score, approved, grade
  </sql>
</mapper>