<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.duniqb.mobile.mapper.ScoreMapper">
  <resultMap id="BaseResultMap" type="cn.duniqb.mobile.domain.Score">
    <!--@mbg.generated generated on Mon Nov 18 11:32:44 CST 2019.-->
    <!--@Table score-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="stu_no" jdbcType="CHAR" property="stuNo" />
    <result column="course_id" jdbcType="CHAR" property="courseId" />
    <result column="year" jdbcType="INTEGER" property="year" />
    <result column="term" jdbcType="BOOLEAN" property="term" />
    <result column="usual_socre" jdbcType="FLOAT" property="usualSocre" />
    <result column="end_score" jdbcType="FLOAT" property="endScore" />
    <result column="total_score" jdbcType="FLOAT" property="totalScore" />
    <result column="slow_exam" jdbcType="BOOLEAN" property="slowExam" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Mon Nov 18 11:32:44 CST 2019.-->
    id, stu_no, course_id, `year`, term, usual_socre, end_score, total_score, slow_exam
  </sql>
</mapper>