<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.duniqb.mobile.mapper.ScoreMapper">
  <resultMap id="BaseResultMap" type="cn.duniqb.mobile.domain.Score">
    <!--@mbg.generated generated on Tue Nov 19 16:38:13 CST 2019.-->
    <!--@Table score-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="stu_no" jdbcType="CHAR" property="stuNo" />
    <result column="course_id" jdbcType="CHAR" property="courseId" />
    <result column="year" jdbcType="INTEGER" property="year" />
    <result column="term" jdbcType="BOOLEAN" property="term" />
    <result column="usual_score" jdbcType="VARCHAR" property="usualScore" />
    <result column="end_score" jdbcType="VARCHAR" property="endScore" />
    <result column="total_score" jdbcType="VARCHAR" property="totalScore" />
    <result column="slow_exam" jdbcType="BOOLEAN" property="slowExam" />
    <result column="exam_type" jdbcType="CHAR" property="examType" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Tue Nov 19 16:38:13 CST 2019.-->
    id, stu_no, course_id, `year`, term, usual_score, end_score, total_score, slow_exam, 
    exam_type, `comment`
  </sql>
</mapper>