<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.duniqb.mobile.mapper.StudentCourseMapper">
  <resultMap id="BaseResultMap" type="cn.duniqb.mobile.domain.StudentCourse">
    <!--@mbg.generated generated on Tue Nov 19 16:38:13 CST 2019.-->
    <!--@Table student_course-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="stu_no" jdbcType="CHAR" property="stuNo" />
    <result column="course_id" jdbcType="CHAR" property="courseId" />
    <result column="course_attr" jdbcType="VARCHAR" property="courseAttr" />
    <result column="time_date" jdbcType="VARCHAR" property="timeDate" />
    <result column="year" jdbcType="INTEGER" property="year" />
    <result column="term" jdbcType="BOOLEAN" property="term" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Tue Nov 19 16:38:13 CST 2019.-->
    id, stu_no, course_id, course_attr, time_date, `year`, term
  </sql>
</mapper>