<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.duniqb.mobile.mapper.StudentMapper">
  <resultMap id="BaseResultMap" type="cn.duniqb.mobile.domain.Student">
    <!--@mbg.generated generated on Mon Nov 18 21:45:26 CST 2019.-->
    <!--@Table student-->
    <id column="stu_no" jdbcType="CHAR" property="stuNo" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="img" jdbcType="VARCHAR" property="img" />
    <result column="college" jdbcType="VARCHAR" property="college" />
    <result column="major" jdbcType="VARCHAR" property="major" />
    <result column="direction" jdbcType="VARCHAR" property="direction" />
    <result column="student_type" jdbcType="VARCHAR" property="studentType" />
    <result column="grade" jdbcType="VARCHAR" property="grade" />
    <result column="clazz" jdbcType="VARCHAR" property="clazz" />
    <result column="certificate_type" jdbcType="VARCHAR" property="certificateType" />
    <result column="certificate" jdbcType="CHAR" property="certificate" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="phone" jdbcType="CHAR" property="phone" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="zip_code" jdbcType="CHAR" property="zipCode" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Mon Nov 18 21:45:26 CST 2019.-->
    stu_no, `name`, img, college, major, direction, student_type, grade, clazz, certificate_type, 
    certificate, email, phone, address, zip_code
  </sql>
</mapper>