<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.duniqb.mobile.mapper.TeacherMapper">
  <resultMap id="BaseResultMap" type="cn.duniqb.mobile.domain.Teacher">
    <!--@mbg.generated generated on Tue Nov 19 16:38:13 CST 2019.-->
    <!--@Table teacher-->
    <id column="teacher_id" jdbcType="INTEGER" property="teacherId" />
    <result column="teacher_name" jdbcType="VARCHAR" property="teacherName" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Tue Nov 19 16:38:13 CST 2019.-->
    teacher_id, teacher_name
  </sql>
</mapper>