<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.duniqb.mobile.mapper.TeacherCourseMapper">
  <resultMap id="BaseResultMap" type="cn.duniqb.mobile.domain.TeacherCourse">
    <!--@mbg.generated generated on Thu Nov 21 14:09:47 CST 2019.-->
    <!--@Table teacher_course-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="stu_no" jdbcType="CHAR" property="stuNo" />
    <result column="teacher_name" jdbcType="VARCHAR" property="teacherName" />
    <result column="course_id" jdbcType="CHAR" property="courseId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Thu Nov 21 14:09:47 CST 2019.-->
    id, stu_no, teacher_name, course_id
  </sql>
</mapper>